html {
  font-family: "Open Sans";
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto;
  overflow: hidden;
}

body {
  wifth: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  height: 30px;
  width: 30px;
}

.hidden {
  display: none!important;
}

.filter-section {
  background-color: #1F1F3D;
  color: white;
  height: 100vh;
  width: 25vw;
  float: left;
  display: inline-block;
}

.form-section {
  background-color: #A9AAD2;
  height: 40vh;
  width: 72vw;
  float: left;

}

.idea-section {
  background-color: #EAEAF4;
  height: 60vh;
  width: 72vw;
  float: left;
}
