html {
  height: 100%;
  font-family: "Open Sans";
  /* display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; */
}

body {
  margin: 0px;
}

img {
  height: 30px;
  width: 30px;
}

h1 {
  font-size: 17px;
  font-weight: bold;
  margin-left: 5%;
  color: #E9E9F3;
  margin-top: 5%;
}

hr {
  border-color: #353567;
}

h3 {
  font-size: 12px;
  font-weight: bold;
  margin-left: 5%;
  color: #BFBFDD;
  margin-bottom: 20px;
}

.hidden {
  display: none!important;
}

.filter-section {
  background-color: #1F1F3D;
  color: white;
  height: 100vh;
  width: 25%;
  float: left;
}

.show-starred-ideas {
  background-color: #5356A4;
  width: 90%;
  height: 40px;
  margin-left: 5%;
  font-size: 17px;
  font-weight: bold;
  color: #E9E9F3;
  border-color: #353567;
  margin-bottom: 20px;
}

.form-section {
  background-color: #A9AAD2;
  height: 40vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

}

.idea-section {
  background-color: #EAEAF4;
  height: 60vh;
  width: 75%;
  display: flex;
}
